.form {
  border: rgb(60, 57, 57) solid;
  background-color: rgb(61, 60, 60);
  opacity: 90%;
  padding: 3% 5%;
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  border-radius: 2px;
}
body {
  background-image: url("./social-media-sign-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  color: white;
  padding: 0;
  align-items: center;
  justify-items: center;
}
small {
  font-weight: 100;
}
h1 {
  margin: 60px auto 10px auto;
  text-align: center;
}

.alert {
  background-color: rgb(152, 97, 97);
  color: white;
  border-color: rgb(136, 42, 42);
}
